@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img:hover{
    cursor: url(Media/Status.svg);
}

span {
    transition: .5s ease;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

i {
    font-size: 1.9em;
    color: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(Media/bg5.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
    text-align: center;
    overflow-x: hidden;
}

header {
    /* margin-top: 20px; */
    position: fixed;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-radius: 0 0 55px 55px ;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 15px #ffffff3d, 0 0 15px #ffffff3d;
    transition: all 0.3s ease;
    z-index: 999;
}


header img {
    width: 40px;
}

.profile {
    background-color: #ffffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    transition: all 0.3s ease-out;
}

.profile:hover {
    transform: scale(1.05);

}

.theme {
    background-color: #ffffffff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.theme:hover {
    transform: scale(1.05);
}

.theme img {
    width: 100%;
}

.profile img {
    border-radius: 50px;
}


.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #9f9f9f;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

nav a {
    background-color: #ffffffff;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.5s ease;
}

nav a:hover {
    background-color: #000000;
    color: #ffffffff;
    transform: scale(1.05);
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    padding: 20px;
    margin: 100px 0;
}

.hero a {
    display: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: 800;
    animation: scaleIn 2s;
}

.hero .intro {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.intro h1 {
    font-size: 4.5em;
    font-family: 'Playwrite VN', cursive;
    /* text-shadow: 2px 0 0 #be3cff,-2px 0 0 #3cb7ff; */
    /* filter: blur(5px); */
}


.about {
    /* backdrop-filter: blur(15px); */
    background-color: rgb(255, 61, 126);
    border: 3px solid #ffffff;
    /* box-shadow: inset 0 0 15px #ffffff89, 0 0 15px #ffffff3d; */
    padding: 15px;
    text-align: left;
    border-radius: 55px;
    margin: 0 0 10px 0;
    display: flex;
    z-index: 0;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.about img {
    border-radius: 40px;
    margin: 0 10px 0 0;
    height: 300px;
    width: fit-content;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.about-text {
    backdrop-filter: blur(10px);
    background-color: #00000049;
    padding: 15px;
    border-radius: 15px;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.about-text p {
    font-size: 1.2em;
    text-wrap: wrap;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.tagline {
    padding: 10px;
    width: 60%;
    text-wrap: wrap;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tagline p {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}


.social-icons i {
    font-size: 2.5em;
    transition: 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.1);
}

.social-icons #resume {
    display: None;
    align-items: center;
    background-color: #ffffffff;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 10px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d7ff23;
    border: 3px solid #ffffff;
    /* backdrop-filter: blur(15px);
    box-shadow: inset 0 0 15px #ffffff89, 0 0 15px #ffffff3d; */
    padding: 15px;
    text-align: left;
    border-radius: 45px;
    margin: 0 0 10px 0;
    display: flex;
    z-index: 0;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.apps-skill {
    display: flex;
    justify-content: space-between;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.projects h1 {
    text-align: left;
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #eeff6d;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s ease-out;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.header-title {
    margin: 20px 0;
    font-size: 1em;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 15px;
    background:white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.imageContainer {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px 0 5px;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
}

.tags{
    padding: 15px 0;
}

.tags span{
    font-size: small;
    background-color: rgba(209, 255, 140, 0.727);
    padding: 5px ;
    border-radius: 10px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal-content {
    width: fit-content;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Modal Image - Shows Full Image */
.modal-content img {
    width: 100%;
    max-height: 500px; /* Full image visibility */
    object-fit: contain; /* No cropping */
    border-radius: 8px;
}

/* Modal Text */
.modal-content h2 {
    font-size: 1.2rem;
    margin: 15px 0 10px;
}

.modal-content p {
    font-size: 1rem;
    color: #555;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: red;
}

@media (max-width: 768px) {
    .project-cards {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    #card1 {
        grid-column: 1;
        /* Reset to single column on mobile */
    }
}

.footer {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    animation: scaleIn 1s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}

.end_title {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 45%;
}

.end_title p {
    font-size: .9em;
    text-align: left;
    font-weight: 500;
    text-wrap: wrap;
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
}


.navi_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.navi_links a {
    margin: 5px 0;
    text-decoration: none;
    opacity: 0.9;
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}

.activities {
    background-color: #ffffff;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: inset 0 0 15px #ffffff3d, 0 0 15px #ffffff3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activities h1 {
    color: #ffffff;
    position: absolute;
    font-size: 2em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    text-wrap: wrap;
    z-index: 1;

}

.activities i {
    font-size: 10em;
    background: linear-gradient(-45deg, #93ff10, #58b4ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s ease-out;
}

.activities i:hover {
    background: linear-gradient(45deg, #93ff10, #58b4ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(55);
    cursor: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}


/* Media Queries */
@media (max-width: 1771px) {

    /* Tablet styles */
    header,
    .main {
        width: 80%;
    }

    header {
        box-shadow: 0 0 0;
    }

    .intro h1 {
        font-size: 3.5em;
    }

    .activities h1 {
        font-size: 1.9em;
    }

    .nav_links {
        width: 60%;
    }

    .tagline {
        width: 80%;
    }
}

@media (max-width: 768px) {

    /* Mobile styles */
    .main {
        width: 95%;
    }

    header {
        width: 100%;
        padding: 15px;
        border-radius: 0;
    }

    .hero{
        margin: 190px 0;
    }

    .social-icons #resume {
        display: flex;
    }

    .nav_links {
        width: 70%;
    }

    .intro h1 {
        font-size: 2em;
    }

    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about img{
        width: 100%;
        height: auto;
    }
    .social-icons{
        margin-top: 25px;
    }
    .header-title{
        margin: 12px 0;
    }

    .skills{
        width: 100%;
        border-radius: 30px ;
    }

    .apps-skill img{
        width: 60px;
        height: 60px;
    }

    .tagline {
        width: 100%;
    }

    .projects{
        display: flex;
        justify-content: center;
    }

    .project-cards {
        justify-content: center;
    }

    .card{
        width: 100%;
    }

    .modal-content{
        width: 95%;
        border-radius: 25px;
    }

    .footer {
        flex-direction: column;
        gap: 30px;
    }

    .end_title,
    .navigation,
    .activities {
        width: 100%;
    }

    .navigation {
        display: none;
    }

    .activities {
        display: none;
    }
}

@media (max-width: 480px) {

    /* Small mobile styles */
    .nav_links {
        display: none;
        /* Consider adding a hamburger menu for mobile */
    }

    .intro h1 {
        font-size: 2em;
    }

    .tagline p {
        margin: 0;
        font-size: 1em;
    }

    .hero {
        margin: 190px 0;
        height: auto;
    }

    .hero a {
        display: flex;
    }

    .navigation {
        display: none;
    }

    .activities {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
        filter: blur(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
        filter: blur(10px);
    }

    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes rotateIn {
    from {
        transform: rotate(-180deg);
        opacity: 0;
    }

    to {
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }

    70% {
        transform: scale(0.9);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#hey:hover,
#there:hover,
#im:hover,
#asmit:hover,
#welcome:hover,
#to:hover,
#my:hover,
#portfolio:hover {
    cursor: grab;
    text-shadow: 2px 0 0 #3ca7ff, -2px 0 0 #ff3cd1;
    font-size: 1.2em;
}

#intro {
    animation: fadeIn 2s ease;
}


html {
    scroll-behavior: smooth;
}